{
    "semi": false,
    "useTabs": true,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSameLine": false,
    "vueIndentScriptAndStyle": true,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "trailingComma": "none",
                "useTabs": false,
                "tabWidth": 2
            }
        },
        {
            "files": "*.json",
            "options": {
                "useTabs": false,
                "tabWidth": 2
            }
        }
    ]
}